body{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.parent, .child{
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
